.custom-button {
    height: 40px;
    padding: 10px 20px;
    background: #333;
    color: rgb(225, 225, 225);
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid black;
}

.custom-button:hover {
    border-color: white;
    color: white;
}

.custom-button.inactive {
    background: #333;
    color: rgb(117, 117, 117);
    cursor: default;
}

.custom-button.inactive:hover {
    border-color: black;
}

.explanation-box a,
span,
p {
    line-height: 1.7;
    font-size: 17px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    transition: border-color 0.15s;
}

a:hover {
    border-color: white;
}


.explanation-box {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    border: 3px solid rgb(48, 62, 74);
    margin: 50px;
    padding: 50px;
    border-radius: 12px;
    background: rgb(97, 125, 151);
}

.image-box {
    border: 2px solid black;
    background: rgb(69, 69, 69);
    height: 400px;
    width: 600px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-box:hover {
    border-color: white;
}

.image-box img {
    border: 2px solid black;
    border-Radius: 8px;

}

.image-box:hover p {
    color: white;
}

.image-box img:hover {
    border-color: white;
}

.image-box.active {
    background: none;
    border: none;
}

.content-block {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}