.custom-button {
    height: 40px;
    padding: 10px 20px;
    background: rgb(25, 100, 126);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(25, 100, 126);
    user-select: none;
}

.custom-button:hover {
    border-color: white;
}

.custom-button.inactive {
    opacity: 0.3;
    cursor: default;
}

.custom-button.inactive:hover {
    border-color: rgb(25, 100, 126);
}

#site-headline {
    margin-left: 100px;
    margin-bottom: 50px;
    color: rgb(47, 168, 208);
    font-weight: bold;
    font-size: 4rem;
    position: relative;
    width: fit-content;
}

#site-headline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    border-radius: 20px;
    background: rgb(47, 168, 208);
}

a {
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2px;
    transition: border-color 0.15s;
}

a:hover {
    border-color: #c59eff;
}


.explanation-box {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 12px;
    margin: 180px 50px 0px 50px;
}

.image-box {
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-box:hover {
    border-color: white;
}

.image-box img {
    border: 2px solid black;
    border-Radius: 10px;

}

.image-box img:hover {
    border-color: white;
}

.content-block {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 85px;
    height: 25px;
    --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-position: left, center, right;
    background-repeat: no-repeat;
    animation: l8 1s infinite;
}

@keyframes l8 {
    0% {
        background-size: 25px 100%, 25px 100%, 25px 100%
    }

    20% {
        background-size: 25px 50%, 25px 100%, 25px 100%
    }

    40% {
        background-size: 25px 50%, 25px 50%, 25px 100%
    }

    60% {
        background-size: 25px 100%, 25px 50%, 25px 50%
    }

    80% {
        background-size: 25px 100%, 25px 100%, 25px 50%
    }

    100% {
        background-size: 25px 100%, 25px 100%, 25px 100%
    }
}