html {
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.7;
}

body {
    background: rgb(4, 0, 10);
}

a {
    color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4 {
    font-family: 'Times New Roman', serif;
}