.button-div {
    height: 40px;
}

.custom-button {
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    padding: 10px 20px;
    background: var(--surface);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--surface);
    user-select: none;
}

.custom-button:hover {
    border-color: white;
    color: white;
}

.custom-button.inactive {
    opacity: 0.3;
    cursor: default;
    color: black;
}

.custom-button.inactive:hover {
    border-color: var(--surface);
}

.species-item {
    list-style: none;
    position: relative;
}

.species-item::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    height: 1.5px;
    width: 10px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    transform: translateY(-50%);
}

.site-box a {
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2px;
    transition: border-color 0.15s;
}

a:hover {
    border-color: #c59eff;
}


.explanation-box {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 12px;
    margin: 50px 50px 50px 50px;
}

.image-box {
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box img:hover {
    border-color: white;
}

.image-box img {
    cursor: pointer;
    border: 2px solid black;
    border-Radius: 10px;
    user-select: none;
    height: auto;
    max-height: 400px;
    max-width: min(700px, 80vw);
}

.image-box img:hover {
    border-color: white;
}

.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    height: fit-content;
    width: fit-content;
}

.loader-container {
    scroll-margin-top: 100px;
    width: 85px;
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100%;
    height: 100%;
    --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-position: left, center, right;
    background-repeat: no-repeat;
    animation: l8 1s infinite;
}

@keyframes l8 {
    0% {
        background-size: 25px 100%, 25px 100%, 25px 100%
    }

    20% {
        background-size: 25px 50%, 25px 100%, 25px 100%
    }

    40% {
        background-size: 25px 50%, 25px 50%, 25px 100%
    }

    60% {
        background-size: 25px 100%, 25px 50%, 25px 50%
    }

    80% {
        background-size: 25px 100%, 25px 100%, 25px 50%
    }

    100% {
        background-size: 25px 100%, 25px 100%, 25px 100%
    }
}

.request-box {
    height: fit-content;
    width: min(700px, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    margin: 0px 50px 0px 50px;
}

.request-box * {
    box-sizing: content-box;
}

.input-box {
    scroll-margin-top: 100px;
    width: min(500px, 100%);
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.response-block {
    width: 80%;
    height: 100px;
    margin: 40px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.conten-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-width: 140px;
}

.conten-block-text {
    text-align: center;
}