html {
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.7;

}

body {
    background: var(--bg);
    margin: 0;
    padding: 0;
    --surface: rgb(47, 168, 208);
    --bg: rgb(4, 0, 10);
}

button {
    font-size: 1rem;
}

a {
    color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4 {
    font-family: 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
}

.site-headline {
    margin: 50px min(100px, 10vw) 50px min(100px, 10vw);
    color: rgb(47, 168, 208);
    font-weight: bold;
    font-size: clamp(1rem, min(8vw, 8vh), 4rem);
    position: relative;
    width: fit-content;
}

.site-headline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    border-radius: 20px;
    background: rgb(47, 168, 208);
}

.site-box {
    margin-top: 150px;
    width: 100%;
    height: fit-content;
}

.custom-button {
    font-size: 1rem;
    font-weight: bold;
    height: 45px;
    padding: 10px 20px;
    background: var(--surface);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--surface);
    user-select: none;
    display: flex;
    align-items: center;
}

.custom-button:hover {
    border-color: white;
    color: white;
}

.custom-button.inactive {
    opacity: 0.3;
    cursor: default;
    color: black;
}

.custom-button.inactive:hover {
    border-color: var(--surface);
}