#navbar-main {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(47, 168, 208);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(4, 0, 10);
}

.navbar-item {
    text-decoration: none;
    height: 80px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-item:hover {
    background-color: rgb(47, 168, 208);
}