.input-box {
    display: flex;
    gap: 80px;
    width: 100%;
    grid-template-columns: repeat(1fr, 3);
    justify-items: center;
    align-items: center;
    height: fit-content;
}

.input-component-box {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 150px 150px 150px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.description {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
}

.input-component {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
}

.description.second {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-start;
}

.review-select-dropdown {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 0px;
    user-select: none;
}

.review-select-dropdown.rating {
    width: 60px;
}

.review-select-button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: var(--surface);
    border: 1px solid var(--surface);
    outline: none;
    color: black;
    font-weight: bold;
    border-radius: 16px;
}

.review-select-button.active {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid black;
}

.review-select-button:hover {
    border-color: white;
}

.review-select-menu.grid {
    width: 300%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.review-select-item {
    cursor: pointer;
    border: 1px solid var(--surface);
    background: var(--surface);
    text-align: center;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.review-select-item.last {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.review-select-item:hover {
    cursor: pointer;
    border-color: white;
}

.review-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.review-text {
    resize: none;
    overflow: hidden;
    width: 300px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid var(--surface);
    background: var(--surface);
    color: black;
    padding: 10px;
    font-family: "Space Mono", monospace;
    font-size: 15px;
}

.review-text:focus {
    border: 1px solid white;
}

.review-text::placeholder {
    color: white;
}