.review-description {
    margin: 70px;
    font-size: 1.1rem;
    width: min(800px, 70vw);
    height: fit-content;
}

.input-box {
    display: flex;
    gap: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
}

.input-component-box {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 50px 150px 50px;
    justify-items: center;
    align-items: center;
    margin: 60px;
}

.description {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
}

.input-component {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
}

.description.second {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-start;
}

.review-select-dropdown {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 0px;
    user-select: none;
    --radius: 16px;
}

.review-select-dropdown.rating {
    width: calc(60px*3);
}

.review-select-button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: var(--surface);
    border: 1px solid var(--surface);
    outline: none;
    color: black;
    font-weight: bold;
    border-radius: var(--radius);
}

.rating .review-select-button {
    width: 60px;
}

.review-select-button.active {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid black;
}

.review-select-button:hover {
    border-color: white;
}

.review-select-menu {
    width: 200px;
    grid-auto-rows: 40px;
}

.website .review-select-menu {
    grid-template-rows: repeat(2, 40px);
    grid-template-areas: 
        "box0" "box1";
}

.rating .review-select-menu {
    width: fit-content;
    grid-template-columns: repeat(3, 60px);
    grid-template-areas: 
        "box0 box1 box2"
        "box0 box3 box2";
}

.review-select-item {
    cursor: pointer;
    border: 1px solid var(--surface);
    background: var(--surface);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.rating .review-select-box-0 {
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.rating .review-select-box-2 {
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.website .review-select-box-1 {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.review-select-item:hover {
    cursor: pointer;
    border-color: white;
}

.review-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.review-text {
    resize: none;
    overflow: hidden;
    width: 300px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid var(--surface);
    background: var(--surface);
    color: black;
    padding: 10px;
    font-family: "Space Mono", monospace;
    font-size: 15px;
}

.review-text:focus {
    border: 1px solid white;
}

.review-text::placeholder {
    color: white;
}

.custom-button.send-review {
    margin: 60px;
}