marvinkrausser.com {
   reverse_proxy cnn_website:8080

   log {
    output file /data/caddy/logs/cnn.access.log
    format json {
        time_format iso8601
    }
   }
}

api.marvinkrausser.com {
  reverse_proxy cnn_api:8000

  log {
    output file /data/caddy/logs/api.access.log
    format json {
        time_format iso8601
    }
   }
}

portfolio.marvinkrausser.com {
  reverse_proxy portfolio_website:8081

  log {
    output file /data/caddy/logs/portfolio.access.log
    format json {
        time_format iso8601
    }
   }
}