{
	email {$CADDY_EMAIL:marvin.krausser277@gmail.com}
}

(common) {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
	log
}

www.marvinkrausser.com {
	redir https://marvinkrausser.com{uri} permanent
}

marvinkrausser.com {
	import common
	reverse_proxy cnn_website:8080
}

api.marvinkrausser.com {
	import common
	request_body {
		max_size {$CADDY_MAX_BODY:16MB}
	}
	reverse_proxy cnn_api:8000
}

portfolio.marvinkrausser.com {
	import common
	reverse_proxy portfolio_website:8081
}

git.marvinkrausser.com {
	import common
	reverse_proxy gitea_network:3000
}